mat-card {
  min-width: 50%;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: wheat;
}

.labels-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1dvh;
}

